@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cinzel', serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
	background-color: var(--background);
}

:root {
	--background: #161616;
	--nav-background: #212121;
	--nav-lines: #d9d9d9;
	--text-color: #fff0f0;
	--about-me-text-color: #e1c6ad;
	--gradient-bg: #ffe28e;
	--text-gradient: radial-gradient(
		circle farthest-corner at center center,
		#ffe28e 0%,
		#c2980f 24%,
		#eccb66 50%,
		#d7b23b 78%,
		#c2980f 100%
	);
	--lines-color: #c2980f;
}

/* 
@media (prefers-color-scheme: dark) {
	:root {
		--background: #e2e2e2;
		--background2: #111110;
		--text-color: #111110;
	}
} */

em {
	color: var(--text-color);
}

p {
	color: var(--text-color);
}
